body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 10px 0;
}

header h1 img {
  width: 100%; /* Adjust the width to your preference */
  height: auto;
  margin-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px; /* Add spacing between the image and text */
}

.download-section img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-description {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  font-size: 21px;
  text-align: justify;
}

.my-description img {
  width: 20%;
  height: auto;
  margin-right: 30px;
  border-radius: 35px;
  box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.1);
}

.my-description-continued {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  font-size: 18px;
  text-align: justify;
}

.download-section {
  background-color: #46ae2781;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #29b948;
}

.additional-links {
  margin-top: 20px;
}

.additional-links h2 {
  color: #000000;
}

.additional-links ul {
  list-style-type: none;
  padding: 0;
}

.additional-links li {
  margin-bottom: 10px;
}

.additional-links a {
  display: inline-block;
  background-color: #3c94e7;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.additional-links a:hover {
  background-color: #7ac02b;
}
