body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #161616;
  color: #333;
  cursor: url("icons8-rocket-50.png") 0 0, auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 0px;
  text-align: center;
  overflow: hidden;
  max-width: 840px;
  margin: 0 auto;
}

header h1,
header h3 {
  margin: 0;
  text-align: center;
  background-color: #161616;
  color: #161616;
}

header h1 img {
  width: 100%; /* Set width to 100% to fill the container */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border-radius */
  display: block; /* Make the image a block element */
  margin: 0; /* Remove default margin */
  padding: 0px; /* Remove default padding */
  background-color: #161616;
  color: #161616;
  border-radius: 20px 20px 0px 0px;
}

header h3 img {
  width: 100%; /* Set width to 100% to fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border-radius */
  display: block; /* Make the image a block element */
  margin: 0; /* Remove default margin */
  padding: 0px; /* Remove default padding */
  border-radius: 0px 0px 20px 20px;
}

.download-section img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 0px 0px 20px 20px;
}

.my-description-continued {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  font-size: 18px;
  text-align: justify;
}

.additional-links {
  margin-top: 0px;
  cursor: url("icons8-rocket-50.png") 0 0, auto;
}

.additional-links h2 {
  color: #000000;
  cursor: url("icons8-rocket-50.png") 0 0, auto;
}

.additional-links ul {
  list-style-type: none;
  padding: 0;
  cursor: url("icons8-rocket-50.png") 0 0, auto;
}

.additional-links li {
  margin-bottom: 0px;
  margin-top: 10px;
  cursor: url("icons8-rocket-50.png") 0 0, auto;
}

.additional-links a {
  display: inline-block;
  background-color: #3c94e7;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
  margin-top: 0px;
  cursor: url("icons8-rocket-50.png") 0 0, auto;
}

.additional-links a:hover {
  background-color: #7ac02b;
  cursor: url("icons8-rocket-50 click.png") 0 0, auto;
}
